.TagButton {
  justify-content: center;
  background-color: purple;
  border: none;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 1000px;
  box-shadow: 0px 5px 7px rgb(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 1.5s;
  width: 80px;
}
.TagButton:hover {
  background-color: rgb(50, 9, 50);
}
